{% extends "sidebar.html" %}

{% block title %}
    Create new user
{% endblock %}

{% block base %}
    {% load url from future %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
    <p>Click <a href="/">here</a> to return to home page</p>
    <p>Click <a href="{% url 'sambal_login' %}">here</a> to login.</p>
{% endblock %}

