{% extends "sidebar.html" %}

{% block title %}
Edit user information
{% endblock %}

{% block base %}
    {% load url from future %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    <p>Click <a href="{% url 'sambal_profile' user.id %}">here</a> to return to user profile</p>
{% endblock %}

