{% extends "sidebar.html" %}

{% block title %}
Login
{% endblock %}

{% block base %}
    {% load url from future %}
    {% if user.is_authenticated %}
        <p>You have logged in. Click <a href="/">here</a> to return to homepage</p>
        <p>Click <a href="{% url 'sambal_logout' %}">here</a> to logout</p>
    {% else %}
        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
        <p>Click <a href="/">here</a> to return to home page</p>
        <p>Click <a href="{% url 'sambal_new' %}">here</a> to create new account.</p>
    {% endif %}
{% endblock %}

