{% extends "sidebar.html" %}

{% block title %}
User information
{% endblock %}

{% block base %}
    {% load url from future%}
    This is your information. <br>
    First name: {{ user.first_name }} <br>
    Last name: {{ user.last_name }}  <br>
    E-mail: {{ user.email }} <br>
    Address:
    {{ user.get_profile.street1 }} <br>
    {{ user.get_profile.street2 }} <br>
    {{ user.get_profile.postcode }} {{ user.get_profile.town }} <br>
    {{ user.get_profile.get_state_display }} <br>
    Click <a href="{% url 'sambal_edit' user.id %}">here</a> to change your information

    <h2>My collections</h2>
    {% for recipe in recipes %}
        <img src="holder.js/128x128">
        <h3><a href="{% url 'cencalok_detail' recipe.id %}">Name: {{ recipe.name }}</a></h3>
        <p>recipe.description</p>
        {% if user.id == recipe.user_id %}
            <p><a href="{% url 'cencalok_delete' recipe.id %}"><button type="submit">Delete</button></a></p>
        {% endif %}
    {% endfor %}

{% endblock %}
