{% extends "base.html" %}

{% block sidebar %}
    {% load url from future %}
    <p><a href="/">Home</a></p>
    {% if user.is_authenticated %}
        <p><a href="{% url 'cencalok_new' %}">New recipe</a></p>
        Click <a href="{% url 'sambal_profile' user.id %}">here</a> to view user profile
        Click <a href="{% url 'sambal_logout' %}">here</a>  to logout.
    {% else %}
        Click <a href="{% url 'sambal_login' %}">here</a> to login.
        Click <a href="{% url 'sambal_new' %}">here</a> to create new user.
    {% endif %}
    <form action="{% url 'cencalok_search' %}">
        <label for="id_q">Search: </label>
        <input name="q" type="text">
        <button type="submit">Search</button>
    </form>
{% endblock %}
