{% extends "sidebar.html" %}

{% block title %}
    Recipe: {{ recipe.name }}
{% endblock %}

{% block base %}
    {% load url from future %}
    <img src="holder.js/128x128">
    <p>Name: {{ recipe.name }}</p>
    <p>Description: <br>
        {{ recipe.description }}</p>
    <p>Ingredients: <br>
        {{ recipe.ingredients }}</p>
    <p>Instructions: <br>
        {{ recipe.instructions }}</p>
    {% if user.id == recipe.user_id %}
        <p><a href="{% url 'cencalok_delete' recipe.id %}"><button type="submit">Delete</button></a></p>
    {% endif %}
{% endblock %}
