{% extends "sidebar.html" %}

{% block title %}
    Create new recipe
{% endblock %}

{% block base %}
    {% load url from future %}
    {% for recipe in found_recipes %}
        <img src="holder.js/128x128">
        <h3><a href="{% url 'cencalok_detail' recipe.id %}">Name: {{ recipe.name }}</a></h3>
        <p>recipe.description</p>
        {% if user.id == recipe.user_id %}
            <p><a href="{% url 'cencalok_delete' recipe.id %}"><button type="submit">Delete</button></a></p>
        {% endif %}
    {% endfor %}

{% endblock %}
